.collection {

    padding-top: 120px;
    padding-bottom: 120px;

    &__content {
        padding-top: 72px;
        background-image: url(../../img/collection_bc_img_mobile.png);
        background-repeat: no-repeat;
        background-position: center top;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    &__item {

        display: flex;
        flex-direction: column;
        align-items: center;

        &__info__block {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__img {
            max-width: 200px;
            height: 151px;
            flex-shrink: 0;
            margin-bottom: 24px;
        }

        &__title {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 255px;
            color: #333D4B;
            font-family: Fraunces;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
            margin-bottom: 16px;
        }

        &__text {
            max-width: 282px;
            text-align: center;
            color: #333D4B;
            font-family: Barlow;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
        }
    }

}

.collection__item__img__last {
    position: relative;
    left: 10px;
}

@media screen and (min-width: 768px) {
    .collection__content {
        padding-top: 59px;
        background-image: url(../../img/collection_bc_img_tablet.png);
        background-repeat: no-repeat;
        background-position: center top;
    }

    .collection__item {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
    }

    .collection__item__img {
        margin-bottom: 0;
        width: 255px;
        height: 193px;
        flex-shrink: 0;
    }

    .collection_item_info_block {
        padding-top: 29.55px;
        margin-left: 36px;
    }


}

@media screen and (min-width: 992px) {

    .collection {
        padding-top: 123px;
        padding-bottom: 200px;
    }

    .collection__content {
        padding-top: 126px;
        background-image: url(../../img/collection_bc_img_desktop.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
    }

    .collection__list {
        max-width: 1100px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .collection__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .collection__item__img {
        width: 255px;
        height: 193px;
        flex-shrink: 0;
        margin-bottom: 71.55px;

        &__last {
            position: relative;
            left: 15px;
            top: 15px;
            margin-bottom: 100px;
        }
    }

    .collection__content {
        display: flex;
        justify-content: center;
    }

    .collection__item__title {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
    }

    .collection__item__text {
        line-height: 26px;
        font-size: 16px; 
    }

    .collection_item_info_block {
        margin-left: 0;
    }


}